#meta-comments {
    border: 1px solid #DDD;
    padding: 5px 10px;
    background: #EEE;
    padding: 5px 10px;
}
#comment-meta-name{margin-right: 10px;}
#comments .comments #comment{margin-right: 5px;}
#comments .comments time{      margin-right: 10px;color: #E6CDAD;}

#comments .comments {
border-bottom: 1px dashed #EEE;
margin-bottom: 6px;
padding: 5px 0;
}
/*
#comments .comments {
    border-bottom: 1px solid #EEEEEE;
    padding: 2.5px 0;
}*/
#form-red-comment label {
padding: 10px 0;
font-weight: bold;
}
#comments #says{    color: #CCCCCC;
    font-style: italic;}
/*#comments .comments:nth-child(odd){background: none repeat scroll 0 0 #FFFFD5;}
#comments .comments:nth-child(even){background: none repeat scroll 0 0 #FFFFE4;}*/
#how-comment{    background: none repeat scroll 0 0 #FCFBFB;
    border: 1px solid #EEEEEE;
    margin-top: 10px;
    padding: 5px;}
   
/*COMMENTS*/
#comments .comments #d a{color: #CCCCCC;
opacity:0;}
#comments .comments:hover #d a{
opacity:1;
}
#comments .comments:target {
    background: none repeat scroll 0 0 #FCFF92;
}

#comments .comments:target #comment a.u{
   background:  none repeat scroll 0 0 #FFFFFF;
}
#comments .comments:target #time{
   color:#C0C56E !important;    
}

#comments .comments #comment-meta{   text-align: left;}

#comments img {
    max-height: 500px;
    padding-left: 10px;
    border-left: 1px solid #EEE;
}