#meta-comments {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 5px;
    text-align: center;
}
#comments .comments #name{margin-right: 10px;}
#comments .comments #comment{margin-right: 5px;}
#comments .comments #time{  color: #E6CDAD;}
#comments .comments {
    border-bottom: 1px solid #EEEEEE;
    padding: 2.5px 0;
}
#comments #says{    color: #CCCCCC;
    font-style: italic;}
/*#comments .comments:nth-child(odd){background: none repeat scroll 0 0 #FFFFD5;}
#comments .comments:nth-child(even){background: none repeat scroll 0 0 #FFFFE4;}*/
#how-comment{    background: none repeat scroll 0 0 #FCFBFB;
    border: 1px solid #EEEEEE;
    margin-top: 10px;
    padding: 5px;}
   
/*COMMENTS*/
.comments #d a{color: #CCCCCC;
opacity:0;}
.comments:hover #d a{
opacity:1;}
.comments:target {
    background: none repeat scroll 0 0 #FCFF92;
}

.comments:target a.u{
   background:  none repeat scroll 0 0 #FFFFFF;
}
.comments:target #time{
   color:#C0C56E !important;    
}
