.users-right50 {
    margin-left: 10px;
    width: 470px;
}

.introduction{}
#red-menu-dashboard {
    background: none repeat scroll 0 0 #EEEEEE;
    height: 50px;
}
.users-left50{width:480px;}
#howto-informationbox{    background: none repeat scroll 0 0 #8DD7E4;
    border: 1px solid #70BFCD;
    margin: 5px;
    padding: 5px;}
