   
#post-header {
	border-bottom: 1px solid #DDD;
	padding: 5px 0;
}
#post-menu {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #DDDDDD;
    margin: 10px 0;
    padding: 10px;
}
#post-menu a{      color: #AAAAAA;}
#post-menu li{
    margin-right: 10px;
}